doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title NYC Traffic Accidents Map
  body
    .header
      h1.page-title NYC Traffic Accidents Map

    ul.nav
      li: a(href='/') Home
      li: a(href='#map') Map

    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
